.fair-campaign-mv {
  position: relative;
  margin-top: 111px;
  height: 500px;
  background-image: url(../images/fair_campaign/fair_main.png);
  background-position: center;
  background-size: cover;
}
.fair-campaign-title {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0 calc((60 / 1920) * 100%);
  padding-top: 38px;
  padding-bottom: 52px;
  max-width: 1200px;
  width: calc((1200 / 1920) * 100%);
  height: auto;
  border-radius: 8px;
  background-color: rgba($color: #fff, $alpha: 0.6);
  text-align: center;
  transform: translate(-50%, -50%);
}
.fair-campaign-title-japanese {
  color: #344148;
  letter-spacing: 7.2px;
  font-size: 1.5rem;
  line-height: 29px;
}
.fair-campaign-title h2 {
  margin-bottom: 0;
  color: #344148;
  letter-spacing: 9.6px;
  font-size: 3rem;
  font-family: "Bodoni 72", sans-serif;
}
.fair-campaign-title-text {
  margin-top: 30px;
  letter-spacing: 1.6px;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  line-height: 27px;
}
.plan-price-cap-fair {
  text-align: center;
  font-size: unquote("clamp(.4rem,1vw + 4px,1rem)");
  letter-spacing: normal;
}

.fair-campaign-main {
  margin-top: 20px;
  padding-top: 115px;
  padding-bottom: 111px;
  background-color: #f8f5f5;
}
.fair-campaign-item {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 25px 35px;
  max-width: 90%;
  width: 850px;
  background-color: #fff;
  box-shadow: 21px 24px 0 0 rgba($color: #e8d5d5, $alpha: 1);
}
.fair-campaign-item + .fair-campaign-item {
  margin-top: 64px;
}
.fair-campaign-item-img {
  width: calc((300 / 930) * 100%);
  display: flex;
  align-items: center;
  img {
    width: 100%;
    height: 200px;

    object-fit: cover;
  }
}
.fair-campaign-item-body {
  width: calc((600 / 930) * 100%);
}
.fair-campaign-item-title {
  color: #525252;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-family: "Hiragino Mincho ProN", serif;
  line-height: 30px;
  font-weight: 600;
}
.fair-campaign-item-text {
  margin-top: 20px;
  color: #525252;
  letter-spacing: 0px;
  line-height: 30px;
}
.fair-price-cap{
  font-size: 0.9rem;
}
.fair-campaign-item-btn {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  width: 250px;
  height: 50px;
  border: 1px solid #9b867b;
  border-radius: 4px;
  color: #9b867b;
  text-align: center;
  font-family: "Hiragino Mincho ProN", serif;
  font-size: 1rem;
  line-height: 50px;
  transition: 0.3s;
  &:hover {
    background-color: #9b867b;
    color: #fff;
  }
}
.fair-campaign-banner {
  display: block;
  margin: 0 auto;
  margin-top: 111px;
  width: 600px;
  img {
    width: 100%;
  }
}

@media (min-width: 200px) and (max-width: 768px) {
  .fair-campaign-mv {
    margin-top: 50px;
    height: 300px;
  }
  .fair-campaign-title {
    padding: 23px calc((12 / 300) * 100%);
    width: calc((300 / 375) * 100%);
    height: auto;
  }
  .fair-campaign-title h2 {
    letter-spacing: 4px;
  }
  .fair-campaign-title-text {
    margin-top: 19px;
    letter-spacing: 1.2px;
    line-height: 20px;
    text-align: left;
  }
  .fair-campaign-main {
    margin-top: 10px;
    padding-top: 25px;
    padding-bottom: 77px;
  }
  .fair-campaign-item {
    display: block;
    padding: 49px calc((40 / 375) * 100%);
    width: calc((330 / 375) * 100%);
    height: auto;
    box-shadow: 7px 7px 0 0 rgba($color: #e8d5d5, $alpha: 1);
  }
  .fair-campaign-item-img {
    width: 100%;
  }
  .fair-campaign-item-body {
    margin-top: 13.5px;
    width: 100%;
  }
  .fair-campaign-item-title {
    letter-spacing: 1.4px;
    line-height: 20px;
  }
  .fair-campaign-item-text {
    margin-top: 20px;
    line-height: 20px;
  }
  .fair-price-cap{
    font-size: .7rem;
  }
  .fair-campaign-item-btn {
    margin: 0 auto;
    margin-top: 40px;
    width: calc((200 / 250) * 100%);
    height: 40px;
    line-height: 40px;
  }
  .fair-campaign-item + .fair-campaign-item {
    margin-top: 47px;
  }
  .fair-campaign-banner {
    margin-top: 72px;
    width: 250px;
    img {
      width: 100%;
    }
  }
}

@media (min-width: 20em) {
  .fair-campaign-title-japanese {
    font-size: calc(0.75rem + ((1vw - 0.2rem) * 1.707));
  }
  .fair-campaign-title h2 {
    font-size: calc(1.25rem + ((1vw - 0.2rem) * 3.9829));
  }
  .fair-campaign-title-text {
    font-size: calc(0.75rem + ((1vw - 3.2px) * 0.569));
  }
  .fair-campaign-item-title {
    font-size: calc(0.875rem + ((1vw - 3.2px) * 0.8535));
  }
  .fair-campaign-item-text {
    font-size: calc(0.75rem + ((1vw - 3.2px) * 0.569));
  }
  .fair-campaign-item-btn {
    font-size: calc(0.875rem + ((1vw - 3.2px) * 0.2845));
  }
}
@media (min-width: 63.9375em) {
  .fair-campaign-title-japanese {
    font-size: 1.5rem;
  }
  .fair-campaign-title h2 {
    font-size: 3rem;
  }
  .fair-campaign-title-text {
    font-size: 16px;
  }
  .fair-campaign-item-title {
    font-size: 20px;
  }
  .fair-campaign-item-text {
    font-size: 16px;
  }
  .fair-campaign-item-btn {
    font-size: 1rem;
  }
}
