// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

/*================
  * colors
================*/
$pink-bg: #f8f5f5;
$green-bg: #ecf0ef;
$brown: #9b867b;
$light-gray: #848181;
